#!/usr/bin/env bash
export PATH="$PATH:./zig-out/bin"
# PATH_add ./zig-out/bin
# export PATH=$PATH:./zig-out/bin

# export PATH=$PATH:./zig-out/bin

# eval "$(devenv direnvrc)"
if has nix; then
  use flake
fi

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence all output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
# use devenv
